---
title: " | people"
---
<ul class="people clear-fix">
{{!--   {{#each people.person }}
    <li>
 
      <span class="name">{{ this.name }}</span>
      <span class="title">{{ this.title }}</span>
      <a href="{{ this.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{image}}">
    </li>
  {{/each}} --}}

  <li class="vertical left person-1">
    <span class="name">{{ people.person.1.name }}</span>
    <span class="title">{{ people.person.1.title }}</span>
    <a href="{{ people.person.1.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.1.image }}">
  </li>

  <li class="horizontal left person-2">
    <span class="name">{{ people.person.2.name }}</span>
    <span class="title">{{ people.person.2.title }}</span>
    <a href="{{ people.person.2.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.2.image }}">
  </li>

  <li class="small-square left person-3">
    <span class="name">{{ people.person.3.name }}</span>
    <span class="title">{{ people.person.3.title }}</span>
    <a href="{{ people.person.3.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.3.image }}">
  </li>

  <li class="small-square left person-4">
    <span class="name">{{ people.person.4.name }}</span>
    <span class="title">{{ people.person.4.title }}</span>
    <a href="{{ people.person.4.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.4.image }}">
  </li>

  <li class="vertical left person-5">
    <span class="name">{{ people.person.5.name }}</span>
    <span class="title">{{ people.person.5.title }}</span>
    <a href="{{ people.person.5.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.5.image }}">
  </li>

  <li class="small-square left person-6">
    <span class="name">{{ people.person.6.name }}</span>
    <span class="title">{{ people.person.6.title }}</span>
    <a href="{{ people.person.6.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.6.image }}">
  </li>

  <li class="large-square left person-7">
    
  </li>

  <li class="small-square left person-8">
    <span class="name">{{ people.person.8.name }}</span>
    <span class="title">{{ people.person.8.title }}</span>
    <a href="{{ people.person.8.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.8.image }}">
  </li>

  <li class="small-square left person-9">
    <span class="name">{{ people.person.9.name }}</span>
    <span class="title">{{ people.person.9.title }}</span>
    <a href="{{ people.person.9.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.9.image }}">
  </li>

  <li class="horizontal left person-10">
    <span class="name">{{ people.person.10.name }}</span>
    <span class="title">{{ people.person.10.title }}</span>
    <a href="{{ people.person.10.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.10.image }}">
  </li>

  <li class="small-square left person-11">
    <span class="name">{{ people.person.0.name }}</span>
    <span class="title">{{ people.person.0.title }}</span>
    <a href="{{ people.person.0.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.0.image }}">
  </li>

  <li class="vertical left person-12">
    <span class="name">{{ people.person.7.name }}</span>
    <span class="title">{{ people.person.7.title }}</span>
    <a href="{{ people.person.7.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.7.image }}">
  </li>

  <li class="large-square left person-13">

  </li>


</ul>