---
title: " | work"
---
<div class="wrap">

  <div class="astrazeneca clear-fix">
    <div class="astrazeneca-intro left clear-left">
      <h2>{{ case-studies.astrazeneca.headline-1 }}</h2>
      <h2>{{ case-studies.astrazeneca.headline-2 }}</h2>

      <div class="left">
        <img src="img/{{ case-studies.astrazeneca.image-1 }}">
        <p>{{ case-studies.astrazeneca.papragraph-1 }}</p>
      </div>

      <div class="left">
        <img src="img/{{ case-studies.astrazeneca.image-2 }}">
        <p>{{ case-studies.astrazeneca.papragraph-2 }}</p>
      </div>
    
      <p class="left">{{ case-studies.astrazeneca.papragraph-3 }}</p>
    </div> {{!-- end .astrazeneca-intro --}}
  </div> {{!-- end .astrazeneca --}}

</div>