---
title: " | work"
---
<div class="wrap">

  <div class="astrazeneca clear-fix">
    <div class="az-search-before left clear-left">
      <h2>{{ case-studies.astrazeneca.headline-1 }}</h2>
      <h2>{{ case-studies.astrazeneca.headline-2 }}</h2>

      <div class="left">
        <img src="img/{{ case-studies.astrazeneca.image-1 }}">
        <p>{{ case-studies.astrazeneca.papragraph-1 }}</p>
      </div>

      <div class="left">
        <img src="img/{{ case-studies.astrazeneca.image-2 }}">
        <p>{{ case-studies.astrazeneca.papragraph-2 }}</p>
      </div>
    
      <p class="left">{{ case-studies.astrazeneca.papragraph-3 }}</p>
    </div> {{!-- end .az-search-before --}}

    <div class="az-search-after">
      <div class="clear-fix">
        <img class="left" src="img/{{ case-studies.astrazeneca.image-3 }}">
        <p class="left">{{ case-studies.astrazeneca.papragraph-4 }}</p>
      </div>

      <div class="clear-fix">
        <p class="left">{{ case-studies.astrazeneca.papragraph-5 }}</p>
        <img class="left" src="img/{{ case-studies.astrazeneca.image-4 }}">
      </div>

      <div class="clear-fix">
        <img class="left" src="img/{{ case-studies.astrazeneca.image-5 }}">
        <p class="left">{{ case-studies.astrazeneca.papragraph-6 }}</p>
      </div>
    </div> {{!-- end .az-search-after --}}

    <div class="az-inovation-before">
      <h2>{{ case-studies.astrazeneca.headline-1 }}</h2>
      <h2>{{ case-studies.astrazeneca.headline-3 }}</h2>
      <p>{{ case-studies.astrazeneca.papragraph-7 }}</p>
      <p>{{ case-studies.astrazeneca.papragraph-8 }}</p>
      <img src="img/{{ case-studies.astrazeneca.image-7 }}">
    </div> {{!-- end .az-inovation-before --}}

    <div class="az-inovation-after">
      <p>{{ case-studies.astrazeneca.papragraph-9 }}</p>
      <p>{{ case-studies.astrazeneca.papragraph-10 }}</p>
      <p>{{ case-studies.astrazeneca.papragraph-11 }}</p>
      <p>{{ case-studies.astrazeneca.papragraph-12 }}</p>
    </div> {{!-- end .az-inovation-after --}}

  </div> {{!-- end .astrazeneca --}}

</div>