<a href="index.html" class="site-logo-container left">
  <img class="site-logo" src="{{logo}}">
  <img class="site-logo-flip" src="{{logo}}">
</a>
<nav class="site-nav right">
  <button class="nav-btn">Menu</button>

  <ul class="clear-fix">
    {{#each pages}}
      <li>
        <a href="{{url}}.html" class="nav-item" data-page="{{page}}">
          <span>{{page}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
<div class="site-menu"></div>