<header class="homepage-head">
  <h1 class="call-out">{{headline}}</h1>
  <h2 class="mega">{{sub-head}}</h2>
</header>
<a href="" class="cta-container">
  <span>{{cta-1}}</span>
  <span>{{cta-2}}</span>
  <span class="cta-help"></span>
</a>
<div class="testamonials-container">
  <ul class="clear-fix">
    {{#each testimonials}}
      <li class="left">
        <div class="text">{{{text}}}</div>
        <span class="client">{{client}}</span>
        <span class="title">{{title}}</span>
        <span class="company">{{company}}</span>
      </li>
    {{/each}}
  </ul>
</div>